<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cognizant Softvision</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Shared/Layout.css"/>  
    <link rel="stylesheet" href="~/css/BlogPost/Index.css"/>  
    <link rel="stylesheet" href="~/css/BlogPost/Create.css"/>  
    <link rel="stylesheet" href="~/css/BlogPost/Edit.css"/>
    <link rel="stylesheet" href="~/css/Account/Login.css"/>  
    <link rel="stylesheet" href="~/css/Account/Register.css"/>  
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @{
        var isAuthenticated = HttpContextAccessor.HttpContext.Session.GetString("isAuthenticated");
        var role = HttpContextAccessor.HttpContext.Session.GetString("role");
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between">
                @* Code commented because it runs in sync way *@
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cognizant Softvision Blog</a> *@
                <a class="navbar-brand text-color font-weight-bold underlined-text" asp-area="" asp-controller="BlogPost" asp-action="Index">Cognizant Softvision Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-grow-0">
                          
                    <ul class="navbar-nav">
                    @if(Convert.ToBoolean(isAuthenticated) && role != null && role.Equals("Admin")){
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Index">Roles</a>
                        </li>
                    }      
                        
                    @if(!Convert.ToBoolean(isAuthenticated))
                    {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-color font-weight-bold underlined-text" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-color font-weight-bold underlined-text" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                    }
                    else
                    {
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </div>
                            </form>
                    }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Cognizant Softvision
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
