@model AccountCredentialsModel
<div class="row container-login no-gutters ">
    <div class="col-md-6">
        <img src="~/login.jpg" class="image-login rounded-start" alt="...">
    </div>
    <div class="col-md-6">
        <div class="d-flex flex-column ">
            <h1>Sign into your account</h1>
            <h6 style="color: red;">@ViewBag.Error</h6>
        </div>

        <hr />
        <div class="d-flex ">
            <div class="col-md-12 form-login">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>