@model UserModel
<div class="row container-register no-gutters ">

    <div class="col-md-6">
        <img src="~/login.jpg" class="image-register rounded-start" alt="...">
    </div>
    <div class="col-md-6">
        <div class="d-flex">
            <h1>Sign up</h1>
            <h6 style="color: red;">@ViewBag.Error</h6>
        </div>

        <hr />
        <div class="d-flex ">
            <div class="col-md-12 form-register">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign up" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
