.create-post-area {
    margin-top: 50px;
}

.create-button {
    text-align: center;
}

.create-post {
    margin-top: 30px;
    margin-left: 100px;
}

::placeholder {
    color: rgba(128, 128, 128, 0.5) !important;
    font-weight: 600;
    font-size: 20px;
}

.back-to {
    margin-top: 40px;
}

.save-button{
    margin-top: 50px;
}