@model BlogPostApiModel

<div class="create-post">
    <h2>Create a new post</h2>

    <div class="row create-post-area">
        <form asp-action="Create" class="form-group row col-md-12">
            <div class="col-md-8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Title" class="form-control" placeholder="Blog Post title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <textarea asp-for="Content" class="form-control" placeholder="Blog Body" rows="15"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="Label" class="form-control" placeholder="Label" />
                    <span asp-validation-for="Label" class="text-danger"></span>
                </div>
                <div class="form-group create-button">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
