@model BlogPostApiModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var authenticated = HttpContextAccessor.HttpContext.Session.GetString("isAuthenticated");
    bool isAuthenticated = Convert.ToBoolean(authenticated);
    var title = Model.Edit ? "Edit" : "Details";
}

<div class="create-post">
    @if (@isAuthenticated)
    {
        <h2>@title</h2>
        @if (!Model.Edit)
        {
            <div id="blogPostViews">
                <span>Number of views : @Model.NumberOfViews </span>
                <br />
            </div>
        }
        <div class="row create-post-area">
            <form asp-action="Edit" class="form-group row col-md-12">
                <div class="col-md-8">
                    <input type="hidden" asp-for="Id" class="form-control" placeholder="Blog Post title" />
                </div>

                <div class="col-md-8">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        @if (Model.Edit)
                        {
                            <input asp-for="Title" class="form-control" placeholder="Blog Post title" />
                        }
                        else
                        {
                            <input asp-for="Title" class="form-control" readonly="readonly" placeholder="Blog Post title" />
                        }
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        @if (Model.Edit)
                        {
                            <textarea asp-for="Content" class="form-control" placeholder="Blog Body" rows="15"></textarea>
                        }
                        else
                        {
                            <textarea asp-for="Content" class="form-control" readonly="readonly" placeholder="Blog Body"
                        rows="15"></textarea>
                        }
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="Label" class="control-label"></label>
                        @if (Model.Edit)
                        {
                            <input asp-for="Label" class="form-control" placeholder="Label" />
                        }
                        else
                        {
                            <input asp-for="Label" class="form-control" readonly="readonly" placeholder="Label" />
                        }
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                    @if (Model.Edit)
                    {
                        <div class="form-group save-button">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    }

                    <div class="back-to">
                        @Html.ActionLink("Back to blog posts", "Index", "BlogPost")
                    </div>

                </div>
            </form>
        </div>



    }
</div>