@model BlogPostModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var authenticated = HttpContextAccessor.HttpContext.Session.GetString("isAuthenticated");
    bool isAuthenticated = Convert.ToBoolean(authenticated);
}

@if (@isAuthenticated)
{
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-area="" asp-controller="BlogPost" asp-action="Create">Add Blog Post</a>
    </div>
}

@if (Model?.BlogPosts?.Count > 0)
{
    <div class="main-content">
        @if (@isAuthenticated)
        {
            <div id="blogViews">
                <span>Number of views : @Model.BlogNumberOfViews</span>
                <br />
            </div>
        }
        @foreach (var item in Model.BlogPosts)
        {
            <div class="card mb-3 area">
                <div class="row g-0 ">
                    <div class="col-md-4 image-section text-center">
                        <img src="@item.ImageUrl" class="image-content rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 body-container">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title d-inline text-color underlined-text"> @Html.ActionLink(item.Title, "View",
                                     new { blogPostId = item.Id},new {@class= "underlined-text"})</h5>
                                <div class="d-inline ">
                                    <small class="underlined-text float-right text-color font-weight-bold date-area">
                                        @Html.DisplayTextFor(Model =>item.CreatedDate)
                                    </small>
                                </div>
                            </div>

                            <p class="card-text">@Html.DisplayTextFor(Model => item.Content)</p>
                      
                           
                        </div>

                         @if (Model.IsAuthenticated)
                            {
                                <div class="details">
                                    <div class="d-inline">
                                        @Html.ActionLink("Details", "Edit", new { blogPostId = item.Id, edit = false }) |
                                    </div>
                                    <div class="d-inline">
                                        @Html.ActionLink("Edit", "Edit", new { blogPostId = item.Id, edit = true }) |
                                    </div>
                                    <div class="d-inline">
                                        @Html.ActionLink("Delete", "Delete", new { blogPostId = item.Id})
                                    </div>

                                </div>
                            }
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (Model?.BlogPosts?.Count < 1 && !isAuthenticated)
{
    <h1>No blog posts. Sign Up or Login to create one.</h1>
}
